# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.userprefs
*.pidb
*.booproj
*.log
*.sln.docstates
*.sdf
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.pyc
*.pyo
*.pyd
*.idb
*.ipch
*.tlog
*.lastbuildstate

# Build results
bin/
obj/
Debug/
Release/
ipch/
*.o
*.obj
*.lib
*.dll
*.exe
*.app
*.apk
*.appx
*.nupkg
*.snupkg
*.nuspec
*.psmdcp
packages/

# NuGet
*.nupkg
*.snupkg
packages/
